/*
 *	Variables
 *
 *	Ici, toutes les variables du projet.
 *	Organisation par type (couleur, fonts...)
 *
 */

$vert: #417c79;
$vert-60: rgba($vert, 0.6);
$vert-20: rgba($vert, 0.2);
$vert-7: rgba($vert, 0.07);
$noir: #231f20;
$noir-60: rgba(#231f20, 0.6);
$noir-15: rgba(#231f20, 0.15);
$noir-25: rgba(#231f20, 0.25);
$noir-5: rgba(#231f20, 0.05);
