.schedule {
	overflow: hidden;
	// margin-top: 40px;

	&__iframe {
		height: 1000px;
		/* overflow: scroll; */
		width: 100%;
		border: none;
		margin-top: -15%;
		margin-bottom: -28%;

		@include before(sm) {
			// margin-top: 0;
			// margin-bottom: 0;
		}
	}
}
// .schedule__iframe {
//     height: 1200px;
//     overflow: hidden;
//     aspect-ratio: 3/1;
//     width: 100%;
//     border: none;
//     margin-top: 200px;
//     margin-bottom: -400px;
//     @include before(742px) {
//         height: 1400px;
//     }
// }

// .schedule {
//     overflow: hidden;
//     margin-top: -20%;
// }
