.schedule {
	overflow: hidden;
	// margin-top: 40px;

	&__iframe {
		height: 1000px;
		/* overflow: scroll; */
		width: 100%;
		border: none;
		margin-top: -15%;
		margin-bottom: -28%;

		@include before(sm) {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
