.schedule__iframe {
    height: 1200px;
    overflow: hidden;
    aspect-ratio: 3/1;
    width: 100%;
    border: none;
    margin-top: -200px;
    margin-bottom: -400px;
}

.schedule {
    z-index: 2;
    overflow: hidden;
    margin-top: 40px;
}