.contact {
	display: flex;
	gap: 180px;

	@include before(xl) {
		gap: 90px;
	}

	@include before(lg) {
		flex-direction: column;
		gap: 48px;
	}

	@include before(sm) {
		display: block;
	}

	&__right {
		max-width: 450px;
		display: flex;
		align-items: center;

		@include before(lg) {
			max-width: none;
			width: 100%;
		}
		@include before(sm) {
			margin-top: 125px;
		}
	}

	&__left {
		flex-grow: 1;
		@include before(sm) {
			margin-top: 125px;
		}
	}

	&__info {
		padding: 36px;
		background-color: $vert-7;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 24px;
		width: 100%;
	}

	&__line {
		display: flex;
		align-items: center;
		gap: 24px;

		@include before(xs) {
			flex-direction: column;
			gap: 10px;
			text-align: center;
		}
	}

	&__iframe {
		width: 100%;
		border: none;
		aspect-ratio: 2.5/1;

		@include before(md) {
			aspect-ratio: 1/1.25;
		}
	}
}
