/*
 *	Global
 *
 *	Ici, tout ce qui est global, pour définir une propriété qui sera toujours la même.
 *	On utilise seulement des balises comme "p" pas de classe ou de sélection complexe comme "p > p".
 *	Cette fiche de style à pour but de faire une première couche de style très large qui sera ensuite détaillé cas par cas.
 *	
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font: 16px Poppins;
	font-weight: 400;
	color: $noir;
	@include before(sm) {
		font-size: 14px;
	}
}
p {
	font-size: 1rem;
	color: $noir-60;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}
h1 {
	font-size: 64px;
	@include before(lg) {
		font-size: 48px;
	}
	@include before(md) {
		font-size: 38px;
	}
	@include before(sm) {
		font-size: 36px;
	}
}
h2 {
	font-size: 36px;
	margin-bottom: 48px;
	@include before(sm) {
		font-size: 24px;
		margin-bottom: 36px;
	}
}
button {
	cursor: pointer;
	appearance: none;
	border: none;
	background: none;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
}