.about {
	display: flex;
	gap: 180px;
	@include before(xl) {
		gap: 90px;
	}
	@include before(lg) {
		flex-direction: column;
		gap: 48px;
	}
	&__left {
		min-width: 450px;
		display: flex;
		align-items: center;
		@include before(lg) {
			width: 100%;
		}
	}
	&__info {
		padding: 36px;
		background-color: $vert-7;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 24px;
		width: 100%;
	}
	&__line {
		display: flex;
		align-items: center;
		gap: 24px;
	}
	&__right {
		display: inline;

		p {
			margin-bottom: 1em;
		}
		p ~ p {
			margin-bottom: 48px;
		}
	}
}
