.btn {
	padding: 11px 24px;
	border-radius: 16px;
	background-color: $vertfab;
	color: white;

	&__wrapper {
		display: flex;
		gap: 30px;
	}

	&--secondary {
		background-color: rgba($vertfab, 0.2);
		color: $vertfab;
	}
}
