.navbar {
	display: flex;
	align-items: center;
	gap: 48px;
	margin-top: 37px;
	margin-bottom: 37px;

	&__item {
		font-size: 16px;
		@include before(md) {
			// TODO: setup responsive navbar
			display: none;
		}
		// font: black sans opacitée
		// opacity: 60%;
	}
	&__logo img {
		height: 89px;
	}
}
