.article {
	&__title {
		max-width: 1000px;

		@include before(sm) {
			line-height: 40px;
			font-size: 32px;
		}
	}
	&__date {
		margin-top: 12px;
		font-size: 18px;
		color: $vert;
	}
	&__keywords {
		padding: 64px 0;
		display: flex;
		flex-wrap: wrap;
		gap: 14px 12px;

		@include before(sm) {
			padding: 32px 0;
		}
	}
	&__keyword {
		padding: 6px 18px;
		border-radius: 6px;
		background-color: $vert;
		color: white;
	}
	&__container {
		width: min(100ch, 100vw - 2rem);
		margin: 0 auto;
		padding: 0 1rem;

		p {
			color: $noir-80;
		}
	}
	&__section {
		margin: 0 auto;
		line-height: 1.7em;
		text-align: justify;
		max-width: min(60ch, 100vw - 2rem);
		font-size: 18px;

		* + * {
			margin-top: 1em;
		}
		a {
			color: $vert;
			text-decoration: underline;
		}
		strong {
			color: $vert;
		}
		li {
			list-style: square;
			margin: 0.2rem 0;
		}
	}
	&__heading2,
	&__heading3 {
		margin: 1em 0 0.5em 0;
	}
	&__heading3 {
		color: $vert;
		font-size: 24px;
	}
	&__image-block {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 8px;
	}
	&__banner-img {
		width: 100%;
		border-radius: 16px;
	}
	&__subtitle {
		margin-bottom: 1em;
		font-size: 18px;

		a {
			color: $vert;
			text-decoration: underline;
		}
	}
	&__embed-yt > iframe {
		border-radius: 16px;
		width: 100%;
		aspect-ratio: 16/9;
		height: fit-content;
	}
	&__mt {
		margin-top: 100px;
	}
	&__grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fill, calc(100% / 3 - 16px));
		gap: 24px;
		justify-content: center;

		@include before(lg) {
			grid-template-columns: repeat(auto-fill, calc(100% / 2 - 16px));
		}
		@include before(sm) {
			grid-template-columns: repeat(auto-fill, 100%);
		}
	}
	&__grid-img {
		width: 100%;
		object-fit: contain;
		border-radius: 8px;
	}
}
