.header {
	display: flex;
	align-items: center;

	&__title {
		margin-bottom: 44px;
	}
	&__description {
		margin-bottom: 22px;
	}

	&__left,
	&__right {
		flex: 1;
	}
	&__right {
		display: flex;
		justify-content: flex-end;

		img {
			width: 540px;
			height: 400px;
			object-fit: cover;
			border-radius: 16px;
		}
	}
	&__left {
	}
}
