.error {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: min(50ch, 100vw - 2rem);

	&__svg {
		z-index: 10;
		width: 48px;
		height: 48px;
		color: $vert;
	}

	&__title {
		font-size: 24px;
		margin-top: 1rem;
	}
}
