.paginate {
	display: flex;
	align-items: center;
	gap: 24px;
	justify-content: center;
	margin-top: 64px;

	&__prev,
	&__next {
		line-height: 0;
		color: $vert;

		&[disabled] {
			opacity: 0.6;
			color: $vert-60;
			cursor: not-allowed;
		}
	}
}
